
                            /*      --   RESPONSIVESNESS   --      */

/*  || MOBILE DEVICES ||  */
@media(min-width: 320px) {
    
    #mainContainer {
        width: 100%;
        height: 700px;
        background-image: url(../images/nestEgg.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: 90% 95%;
    }

    #statement {
        width: 80%;
        margin: 0 auto;
    }

    #head2 {
        font-size: 150%;
        font-weight: bold;
        padding-left: 30px;
    }

    #mainNav {
        margin-left: 40px; /*Homepage Navigation */
    }

    footer {
        text-align: center;
    }
    /*_END HOMEPAGE */
    

    /* -- ALL LOGIN PAGES -- */
    .containers-inv-login {
        height: auto;
        background: yellow;      /*  ?????????????????? */
    }

    .containers-inv-login h2 {
        padding-left: 20px;
    }

    .leftPanel {
        width:fit-content;
        height: auto;
        float: none;
        padding: 0 20px;
    }

    .rightPanel {
        float: none;
        width: fit-content;
        height: auto;
        background: aqua;       /*  ?????????????????? */
    }

    .genBox {
        padding: 0 20px; /*position the Registration page */
        height: auto;
    }

    /* DASHBOARD TITLE */
    #dashboard-main {
        grid-template-columns: 1fr;
    }

    .dashboard-item:nth-of-type(1) {
        grid-column: 1;
        width: auto;
        display: inline;
    }

    .dashboard-item:nth-of-type(3) {
        display: none;
    }

    /* Image Animation */
    #investorSpot {
        text-align: center;
    }

    /* --  PARTIAL-PAGES-SECTION -- */
    .dashboard-container {
        width: 100%;
        height: auto; /*Setting the height of the underlying main container (dashboard)*/
        background: purple;     /*  ?????????????????? */
    }

    .partialDashboardBox {
        width: fit-content;
        height: auto;
        border: none;
        overflow: auto;
        -ms-overflow-style: none; /* Hide Scroll bars for Chrome IE and Edge scrollbar-width: none;*/
        display: grid;
        grid-template-columns: 1fr; /* Grid */
        row-gap: 5px;
    }

    .article-inv {
        width: auto;
        height: 300px;
        padding: 20px;
    }

    .article-inv:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1 / 3;
        height: 100%;
        background: black;
        
    }

    .article-inv:nth-of-type(2) {
        grid-column: 1;
        grid-row: 3 / 4;
    }

    .article-inv:nth-of-type(3) {
        grid-column: 1;
        grid-row: 4 / 5;
    }

    .article-inv:nth-of-type(4) {
        grid-column: 1;
        grid-row: 5;
    }

    /* Text Placeholders for Partial Page Displays */
    .placeholders {
        padding-left: 20%;
        padding-top: 50%;
    }
    
}
/* ---------------------------------------------------------------------------------------------------- */


/* ---------- || IPADS, TABLETS || ---------- */
@media(min-width: 480px) {
    
    #statement {
        width: 90%;
    }

    #head2 {
        padding-left: 20px;
    }

    #mainNav {
        margin-left: 20px; /*Homepage Navigation */
    }

    .rightPanel {
        width: 100%;
    }

    .genBox {
        padding: 0 75px; /*position the Registration page */
    }

    /***     PARTIAL-PAGES-SECTION    ***/
    .partialDashboardBox {
        width: 100%;
        height: auto;
    }

    /* Text Placeholders for Partial Page Displays */
    .placeholders {
        padding-left: 20%;
        padding-top: 25%;
    }

}

/* ---------------------------------------------------------------------------------------------------- */
    
/* ---------- || SMALL SCREENS, LAPTOPS || ---------- */
@media(min-width: 768px) {
    
    #mainContainer {
        background-size: 130%;
    }

    #statement {
        width: 95%;
        margin: 0 auto;
    }

    .genBox {
        padding: 0 150px; /*position the Registration page */
    }

    /***     PARTIAL-PAGES-SECTION    ***/
    .containers-inv-login {
        height: auto; /*Setting the height of the underlying main container (dashboard)*/
    }

    .dashboard-item:nth-of-type(1) {
        width: 100%; /* to readjust the position of the 'Main Dashboard' title */
    }

    .dashboard-item:nth-of-type(2) {
        margin-left: 0;
        text-align: right; /* to readjust the position of the 'Home' icon */
    }

    .partialDashboardBox {
        /*height: auto;*/
    }

    /* Text Placeholders for Partial Page Displays */
    .placeholders {
        padding-left: 35%;
        padding-top: 15%;
    }

}

/* ---------------------------------------------------------------------------------------------------- */


/* ---------- || DESKTOP, LARGE SCREENS || ---------- */
@media(min-width: 1024px) {

    #mainContainer {
        background-size: 80%;
        background-position: 100% 0;
        height: 500px;
    }

    #head2 {
        padding-left: 0px;
    }

    #statement {
        width: 42%;
        margin-left: 0px;
    }

    #mainNav {
        margin-left: 0px; /*Homepage Navigation */
    }

    .containers-inv-login h2 {
        padding-left: 172px;
    }

    .leftPanel {
        width: 100%;
        height: auto;
    }

    .genBox {
        padding: 0 150px; /*position the Registration page */
    }

    /***     PARTIAL-PAGES-SECTION    ***/
    .containers-inv-login {
        height: auto; /*Setting the height of the underlying main container (dashboard)*/
    }

    .dashboard-item:nth-of-type(1) {
        width: 100%; /* to readjust the position of the 'Main Dashboard' title */
    }

    .dashboard-item:nth-of-type(2) {
        margin-left: 0;
        text-align: right; /* to readjust the position of the 'Home' icon */
    }

    /* Text Placeholders for Partial Page Displays */
    .placeholders {
        padding-left: 35%;
        padding-top: 15%;
    }
}

/* ---------------------------------------------------------------------------------------------------- */

/* - EXTRA LARGE SCREENS, TV - */
@media(min-width: 1200px) {

    #mainContainer {
        background-size: 80%;
        background-position: 100% 0;
        height: 500px;
    }

    #head2 {
        padding-left: 0px;
    }

    #statement {
        width: 42%;
        margin-left: 0px;
    }

    #mainNav {
        margin-left: 0px; /*Homepage Navigation */
    }

    .containers-inv-login h2 {
        padding-left: 205px;
    }

    .leftPanel {
        width: 100%;
        height: auto;
    }

    .genBox {
        padding: 0 150px; /*position the Registration page */
    }

    /***     PARTIAL-PAGES-SECTION    ***/
    .containers-inv-login {
        height: auto; /*Setting the height of the underlying main container (dashboard)*/
    }

    .dashboard-item:nth-of-type(1) {
        width: 100%; /* to readjust the position of the 'Main Dashboard' title */
    }

    .dashboard-item:nth-of-type(2) {
        margin-left: 0;
        text-align: right; /* to readjust the position of the 'Home' icon */
    }

    /* Text Placeholders for Partial Page Displays */
    .placeholders {
        padding-left: 35%;
        padding-top: 15%;
    }
}

/* ---------------------------------------------------------------------------------------------------- */


/*  || ORIENTATION ||  (min-aspect-ratio: 7/4) */
/*@media(max-height: 425px) and (orientation: landscape) {

}*/


