@model Wealth_Management_Services.Models.dividends_2022

@using Wealth_Management_Services.ViewModel
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
@*<link href="~/Content/PartialStyles.css" rel="stylesheet" />*@

<!--Ajax Package Section-->
<!--<script src="~/Scripts/jquery-1.4.4.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>-->

<div class="partialDashboardBox">
    <div style="color:dimgrey; font-weight:bold; font-size: 1.5em">
        @MyViewModel.Message
    </div>
    <hr />

    <h2>Last Year's Dividends Page</h2>
</div>