@using Wealth_Management_Services.ViewModel

<!--Styles-->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/PartialStyles.css" rel="stylesheet" />

<div id="StocksDisplay">
    <div class="titles">@MyViewModel.Message</div>
    <hr />
    <div id="buyTable">

    </div>
</div>
