@using Wealth_Management_Services.ViewModel
@using Wealth_Management_Services.Models


<div class="containers">

    <h3>Main Dashboard</h3>

    <!-- Here, instead of using AJAX, I have applied a simple conditional 
         technique to display the right View.    
    -->

    @{ // >>>>> DON'T FORGET CLIENT SIDE VALID 4 LOGIN <<<<<<

        if (MyViewModel.management != null)
        {
            // -- MANAGEMENT SECTION --
            management mgmt = MyViewModel.management;

            @Html.Partial("_MgmtPartial", mgmt)
            // Must clean the model otherwise it will interfere
            MyViewModel.management = null;
        }
        else if (MyViewModel.broker != null)
        {
            // -- BROKER SECTION --
            broker bkr = MyViewModel.broker;

            @Html.Partial("_BrokerPartial", bkr)
            // Must clean the model otherwise it will interfere
            MyViewModel.broker = null;
        }
        else if (MyViewModel.investor != null)
        {
            // -- INVESTOR SECTION --
            investor investor = MyViewModel.investor;

            @Html.Partial("_InvestorPartial", investor)
        }

    }



</div>