@using Wealth_Management_Services.ViewModel
@using Wealth_Management_Services.Models

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>*@

<div class="containers">

    <h3>Main Dashboard</h3>



    @{

        if (MyViewModel.management != null)
        {
            // -- MANAGEMENT SECTION --
            management mgmt = MyViewModel.management;

            @Html.Partial("_MgmtPartial", mgmt)
            // Must clean the model otherwise it will interfere
            MyViewModel.management = null;
        }
        else if (MyViewModel.broker != null)
        {
            // -- BROKER SECTION --
            broker bkr = MyViewModel.broker;

            @Html.Partial("_BrokerPartial", bkr)
            // Must clean the model otherwise it will interfere
            MyViewModel.broker = null;
        }
        else if (MyViewModel.investor != null)
        {
            // -- INVESTOR SECTION --
            investor investor = MyViewModel.investor;

            @Html.Partial("_InvestorPartial", investor)
        }
        @*else if (investor != null)
        {
            // -- INVESTOR SECTION --
            investor investor = MyViewModel.investor;

            @Html.Partial("_InvestorPartial", investor)
        }*@





    }



</div>