@using Wealth_Management_Services.ViewModel
@using Wealth_Management_Services.Models

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>

<div class="containers">

    <h3>Main Dashboard</h3>



    @{
        // -- MANAGEMENT SECTION --
        if (MyViewModel.management != null)
        {
            //@model Wealth_Management_Services.Models.management
            management mgmt = MyViewModel.management;

            @Html.Partial("_MgmtPartial", mgmt)
            // Must clean the model otherwise it will interfere
            MyViewModel.management = null;
        }
        else if (MyViewModel.broker != null)
        {
            // -- BROKER SECTION --
            //@model Wealth_Management_Services.Models.broker
            broker bkr = MyViewModel.broker;

            @Html.Partial("_BrokerPartial", bkr)
        }

        // -- INVESTOR SECTION --



    }



</div>