@model Wealth_Management_Services.Models.Departments

@*@using Wealth_Management_Services.Models*@

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>


<div id="mainContainer">

    <h2 id="head2">Welcome to Wealth Management</h2>

    <div id="statement">
        At Wealth Management Services our professionals take the time to listen carefully to every client. That way, we can learn about your situation and life goals and better understand what's most important to you. Our main goal is to help individuals grow their portfolios and plan for a better retirement.
    </div>

    <br />
    <br />

    @{
        foreach (var item in Model.getDepartments)
        {
            @Html.ActionLink(item.Text, "Index", "Home", new { area = item.Value }, null);
            <br />
        }
    }

</div>



