@model IEnumerable<Wealth_Management_Services.Models.broker>

@using Wealth_Management_Services.ViewModel

<div class="titles">@MyViewModel.Message</div>

<table class="table">
    <tr>
        <td><b>Broker</b></td>
        <td><b>Commission</b></td>
        <td><b>Manager</b></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commission) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.management.name)
            </td>

        </tr>
    }

</table>


